.footer {
    width: 100%;
    margin: 0;
    border-top: 1px solid rgb(84, 84, 84);
    min-height: 200px;
    overflow: hidden;
    text-align: center;
    margin-top: 32px;
}

.container{
    display: flex;
    justify-content: space-evenly;
    margin: 8px 0;
    align-items: center;
}

